body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #6b6354;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #68a08a;
  padding: 20px;
  width: 300px;
  
}

#result {
  width: 93%;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
 padding: 15px;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ccc;
  transform: scale(1.05);
}

#c:hover {
  background-color: #bd6565;
  color: #ec2e0c;
}
#equalto:hover {
  background-color: #57b657;
  color: #00f83e;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

